{% load crispy_forms_tags %}
{% load i18n %}
<form class="{{ form.prefix }}_ct_url_form">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-8">
        {% crispy form %}
      </div>
      <div class="col-sm-2">
        <button type="button" class="btn btn-secondary btn-content-select">
          <i class="fa fa-spin" aria-hidden="true"></i>{% trans "Search" %}
        </button>
      </div>
    </div>

    <div class="row">
      <div class="table-responsive">
        <table class="d-none table {{ form.prefix }}_ct_url_table" data-server-side="true" data-language-url="{{ dt_language_url }}">
           <thead>
            <tr>
              <th scope="col" class="d-none" data-data="id" data-visible="false" data-orderable="false" data-searchable="false">#</th>
              <th scope="col" data-name="pk" data-data="title" data-searchable="false">{% trans "Title" %}</th>
              <th scope="col" data-data="url" data-orderable="false" data-searchable="false">{% trans "URL" %}</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </div>
</form>