{% load crispy_forms_tags %}
{% load i18n %}
<form class="{{ form.prefix }}_ct_url_form">
    <div class="card {{ form.prefix }}_ct_url_form_fields_wrapper bg-secondary p-3 mb-2">
        <div class="row mb-n3">
            <div class="col-md-auto flex-fill">
                {% crispy form %}
            </div>
            <div class="col-md-auto">
                <button type="button" class="btn btn-secondary btn-content-select">
                    <i class="fa fa-spin" aria-hidden="true"></i>{% trans "Search" %}
                </button>
            </div>
        </div>
    </div>
    <div class="card {{ form.prefix }}_ct_url_table_wrapper d-none bg-secondary p-3">
      <div class="table-responsive">
        <table class="d-none table table-bordered table-striped table-hover {{ form.prefix }}_ct_url_table w-100" data-server-side="true" data-language-url="{{ dt_language_url }}">
           <thead>
            <tr>
              <th scope="col" class="d-none" data-data="id" data-visible="false" data-orderable="false" data-searchable="false">#</th>
              <th scope="col" data-name="pk" data-data="title" data-searchable="false">{% trans "Title" %}</th>
              <th scope="col" data-data="url" data-orderable="false" data-searchable="false">{% trans "URL" %}</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
</form>