
<div class="input-group">
  <span class="input-group-prepend">
    <button type="button" class="btn btn-secondary {{ widget.name }} xd_content_url_sel_btn" data-url="{% url "xadmin:xd_content_url" %}">
      <i class="fa fa-external-link" aria-hidden="true"></i> Selecionar
    </button>
  </span>
  {% include widget.base_template_name %}
  <input type="{{ widget.sel.type }}" name="sel_{{ widget.name }}"{% if widget.sel.value != None %}
         value="{{ widget.sel.value|stringformat:'s' }}"{% endif %}{% include "django/forms/widgets/attrs.html" %}
         readonly>
</div>